@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?y17zho');
  src:  url('fonts/icon.eot?y17zho#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?y17zho') format('truetype'),
    url('fonts/icon.woff?y17zho') format('woff'),
    url('fonts/icon.svg?y17zho#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e900";
}
.icon-delete:before {
  content: "\e901";
}
.icon-ondemand_video:before {
  content: "\e913";
}
.icon-done:before {
  content: "\e918";
}
.icon-arrow-left:before {
  content: "\e910";
}
.icon-arrow-right:before {
  content: "\e911";
}
.icon-close:before {
  content: "\e912";
}
.icon-angle-down:before {
  content: "\e914";
}
.icon-angle-up:before {
  content: "\e915";
}
.icon-minus-circle:before {
  content: "\e916";
}
.icon-plus-circle:before {
  content: "\e917";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-file-text:before {
  content: "\e926";
}
.icon-cross:before {
  content: "\ea0f";
}
